body{
    margin: 0;
  /*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: 'Play', sans-serif;
    font-size: 12pt !important;
    line-height: 18px;
    color: #333333;

	background-color: #fafafa;
}
.main_nav{
	border-radius: 0 !important;
    background-image: -moz-linear-gradient(top, #7CBFEA, #215690)!important;
    background-image: -ms-linear-gradient(top,#7CBFEA, #215690)!important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7CBFEA), to(#215690))!important;
    background-image: -webkit-linear-gradient(top,#3094D8, #1A4573)!important;
    background-image: -o-linear-gradient(top,#7CBFEA, #215690)!important;
    background-image: linear-gradient(top, #7CBFEA, #215690)!important;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    margin-bottom: 20px;
    position: relative;
	border: none;
}
.main_nav li{
	font-family: 'Play', sans-serif;
	/*font-family: 'Walter Turncoat', cursive;
	font-family: 'Handlee', cursive;
	font-family: 'Kaushan Script', cursive;*/
    font-size: 17px !important;	
	font-weight: 600;
}

.main_nav li:not(.active2){
    background-image: -moz-linear-gradient(top, #EEEEEE, #B8B8B8)!important;
    background-image: -ms-linear-gradient(top, #EEEEEE, #B8B8B8)!important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#B8B8B8))!important;
    background-image: -webkit-linear-gradient(top, #EEEEEE, #B8B8B8)!important;
    background-image: -o-linear-gradient(top, #EEEEEE, #B8B8B8)!important;
    background-image: linear-gradient(top,#EEEEEE, #B8B8B8)!important;
	/*border: 1px solid #222222;*/
	box-shadow: 0 1px 3px rgba(100,100,100,0.4);
	 margin: 3px 3px 0 3px;
}
.main_nav .active2{
   /* background-image: -moz-linear-gradient(top, #444444, #222222)!important;
    background-image: -ms-linear-gradient(top, #444444, #222222)!important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222))!important;
    background-image: -webkit-linear-gradient(top, #fff, #fafafa)!important;
    background-image: -o-linear-gradient(top, #444444, #222222)!important;
    background-image: linear-gradient(top, #444444, #222222)!important;*/
	color: #222222 !important;
	border-bottom: 1px solid #fafafa; 
	background-color: #FAFAFA;
	margin: 3px 3px 0 3px;
}
.box{
	border: 1px solid #d6d6d6;
    box-shadow: 0 1px 3px rgba(100,100,100,0.3);
    margin-bottom: 15px;
    border-radius: 3px 3px 0 0;
    overflow: visible;
    position: relative;
}
.box-title{
	background-color: #444444;
    background-image: -moz-linear-gradient(top, #7CBFEA, #215690);
    background-image: -ms-linear-gradient(top, #7CBFEA, #215690);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7CBFEA), to(#215690));
    background-image: -webkit-linear-gradient(top, #7CBFEA, #215690);
    background-image: -o-linear-gradient(top, #7CBFEA, #215690);
    background-image: linear-gradient(top, #7CBFEA, #215690);
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
	
    padding: 10px 15px;
   /* background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top, #fdfdfd, #f6f6f6);
    background-image: -ms-linear-gradient(top, #fdfdfd, #f6f6f6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #f6f6f6);
    background-image: -o-linear-gradient(top, #fdfdfd, #f6f6f6);
    background-image: linear-gradient(top, #fdfdfd, #f6f6f6);
    border-bottom: 1px solid #d6d6d6;
    color: #555555;
    text-shadow: 0 1px 0 #ffffff;*/
    font-size: 14px;
    font-weight: bold;
}
.box-content{
	background-color: #ffffff;
    padding: 15px;	
}
.select_block .box-content{
	overflow: hidden;
	height: 0;
	position: relative;
}
.box-content li{
	list-style: none;
}
.box-content ul{
	padding: 0;
}
.box-content button{
	margin: 10px;
}
.box.alternate .box-title{
    background-image: -moz-linear-gradient(top, #7CBFEA, #215690)!important;
    background-image: -ms-linear-gradient(top,#7CBFEA, #215690)!important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7CBFEA), to(#215690))!important;
    background-image: -webkit-linear-gradient(top,#3094D8, #1A4573)!important;
    background-image: -o-linear-gradient(top,#7CBFEA, #215690)!important;
    background-image: linear-gradient(top, #7CBFEA, #215690)!important;
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
}

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox_my, .radio_my {
  vertical-align: top;
  margin: 0 3px 0 0px;
  width: 10px;
  height: 10px;
  
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox_my + label, .radio_my + label {
  cursor: pointer;
  margin-left: 3px;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox_my:not(checked), .radio_my:not(checked){
  position: absolute;
  opacity: 0;
}
.checkbox_my:not(checked) + label, .radio_my:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox_my:not(checked) + label:before , .radio_my:not(checked) + label:before{
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox_my:not(checked) + label:after , .radio_my:not(checked) + label:after{
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox_my:checked + label:before , .radio_my:checked + label:before {
	background-color: #215690;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox_my:checked + label:after , .radio_my:checked + label:after{
  left: 26px;
}
/* Показываем получение фокуса. */
.checkbox_my:focus + label:before, .radio_my:focus + label:before{
  
}
#canvas{
	width: 800px;
	height: 800px;
	border: 1px solid #d6d6d6;
	background-color:#ffffff;
}
.input_text{
    background: #ffffff;
    box-shadow: 0 -1px 0 #f8f8f8 inset, 0 1px 8px rgba(0,0,0,0.5) inset !important;
    border: none !important;
    padding: 8px 10px;
    color: #666666;
    margin-bottom: 0;
    font-size: 12pt !important;	
}
button, input, select{
    font-size: 12pt !important;		
}
option:hover{
	background-color: #f8f8f8 !important;
}

.select_block{
	display: none;	
}
.close_open{
		cursor: pointer;
		position: relative;
		top:0;
		left:0;
		padding:0 !important;
}
.close_open:hover{
	background-color: #DCE3E7;
}
.main_nav .navbar-brand{
	color: rgb(55,96,146) !important;
    text-shadow: 1px 1px 1px rgba(255,255,255,1),2px 2px 2px rgba(186,223,223,1) !important;
	font-weight: bold;

}
.main_nav .navbar-right{
	background: transparent !important;	
	height: 100%;
	line-height: 54px;
	/*color: rgb(37,64,97);*/
	font-weight: bold;	
	font-style: italic;
	color: #fff;
	font-size: 17px;
	padding-right: 20px;	
}
.main_nav .navbar-brand span{
	color: rgb(127,127,127) !important;	
}
.blue_button{
	background-color: #DCE3E7
	background-image: -webkit-linear-gradient(top, #fff 0, #DCE3E7 100%)!important;
    background-image: -o-linear-gradient(top, #fff 0, #DCE3E7 100%)!important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), to(#DCE3E7))!important;
    background-image: linear-gradient(to bottom, #fff 0, #DCE3E7 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#DCE3E7', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)!important;
    background-repeat: repeat-x!important;
    border-color: #dbdbdb!important;
    text-shadow: 0 1px 0 #fff!important;
    border-color: #ccc!important;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
}
.video_img_block, .video_ended_block{
	position: absolute;
	top:0px;
	left: -150px;
	min-height: 200px;
	width: 300px;
	border: 1px solid #d6d6d6;
	background-color: #fff;
	display: none;
}
.video_ended_block{
	padding: 10px;
	text-align: center;
}
.img_block,.video_block{
	height: 100%;
	width: 100%;	
}
.video_block{
	display: none;	
}
#advanced_prop_btn{
	display: none;
}
#close{
	position: absolute;
    bottom: 0;
    right: 0;
}
#basic_prop_3d{
	display:none;
}
#box-content-materials img{
	margin-left: 5px;
}
.latProp ul li{
	margin: 5px 0 5px 0;
    border-bottom: 1px solid rgba(3,3,3,0.1);
    padding-bottom: 5px;
}
.ad_prop_3d{
	display: none;	
}
.materialProp ul li{
	cursor: pointer;
}
.hover_2d{
	width: 45%;
	min-height: 150px;
	padding: 5px;
	border: 1px solid #d6d6d6;
    box-shadow: 0 1px 3px rgba(100,100,100,0.3);
	position: absolute;
	z-index: 2000;
    top: 30px;
    right: 5px;
	background-color: #fff;
	display: none;
}
.info2d{
	display: none;
}
.warning, .warning2, .warning3, .warning32{
	height: 20px;
	line-height: 20px;
	color: rgb(255,0,0);
	min-width: 200px;
	display: none;
}
.onlyFor2M{
	display: none;	
}
.cloneButton, .cloneButton3d{
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #5997C8;	
	color: #fff;
	font-size: 20px;
}
.clonefield>div,.clonefield3d>div {
	margin-top: 10px;
	min-height: 30px;
	padding: 0 !important;
}
.clonefield div, .clonefield3d div{
	padding: 0 !important;
}
.advansedLatProp .row{
	margin: 10px 0 10px 0;
}
.advansedLatProp .row div{
	padding: 0 5px 0 0 !important;
	
}
.m_bold{
	font-weight: bold;
}
.advansedLatProp .row div.biger_padding{
	padding-right: 5% !important;
}	
.cloneIt, .cloneIt3d, .remuvedClass, .remuvedClass3d {
	position: relative;
}	
.delate2d, .delate3d{
	position: absolute;
	left: 100%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color:#5997C8;
	cursor: pointer;
}