<div id='container' ondrop="drop(event)" ondragover="allowDrop(event)"><div id="progress"></div></div>

		<script>
			var headerHeight = window.innerHeight - 70 + 'px';
			document.getElementById( 'container' ).style.height = headerHeight;
		</script>

		<script src="./include/three.js"></script>
		<script src="./include/STLLoader.js"></script>
		<script src="./include/TrackballControls.js"></script>
		<script src="./include/OrbitControls.js"></script>
		<script src="./include/Detector.js"></script>
		<script src="./include/OBJMTLLoader.js"></script>
        
        <script src="./include/spin.min.js"></script>
        
        <script src="./js/init.js"></script>
		<script src="./js/index.js"></script>
<script src="./include/ThreeCSG.js"></script>