
				<div class='row'>
					<div class='col-md-12'>
						<div class='box'>
							<div class='box-title text-center'>
								ALM Materials
							</div>
							<div class='box-content material'>							
								<div class='row'>
									<div class='col-md-3'>
										Material
									</div>
									<div class='col-md-6'>
										  <select class="form-control input_text" id="sel_materal">
											<option value='User defined'>User defined</option>
											<option value='Steel'>Steel</option>
											<option value='Aluminum'>Aluminum</option>
											<option value='ABS'>ABS</option>
										  </select>
									</div>
								</div>	
								<div class='row'>
									<div class='col-md-3'>
										Name
									</div>
									<div class='col-md-6'>
										<input type="TEXT" class="form-control input_text" id="name">
									</div>
								</div>								
								<div class='row'>
									<div class='col-md-3'>
										Young Modulus
									</div>
									<div class='col-md-6'>
										<input type="TEXT" class="form-control input_text" id="youngMod">
									</div>
								</div>
								<div class='row'>
									<div class='col-md-3'>
										Poisson Ratio
									</div>
									<div class='col-md-6'>
										<input type="TEXT" class="form-control input_text" id="posRat">
									</div>
								</div>	
								<div class='row'>
									<div class='col-md-3'>
										Density
									</div>
									<div class='col-md-6'>
										<input type="TEXT" class="form-control input_text" id="den">
									</div>
								</div>	
								<div class='row'>
									<div class='col-md-3'>
										Thermal expainsion
									</div>
									<div class='col-md-6'>
										<input type="TEXT" class="form-control input_text" id="thermalExp">
									</div>
								</div>	
								<!--div class='row'>
									<div class='col-md-3'>
										Volume Fraction
									</div>
									<div class='col-md-6'>
										<input type="TEXT" class="form-control input_text" id="valFrac">
									</div>
								</div-->								
								<div class='row'>
									<button class='btn pull-right btn-default blue_button' type="button" id='select_btn'>Select</button>
								</div>								
							</div>
						</div>
					</div>
				</div>
				
				<div class='row'>
						<div class='col-md-6 select_block'>
								<div class='box'>
									<div class='box-title text-center close_open2'>
										Basic properties 2d
										<input type="checkbox" class="checkbox_my" id="checkbox_3d" />
										<label for="checkbox_3d">3d</label>
									</div>
									<div class='box-content' style="height: auto;">
										<div class='col-md-12 text-center close_open'><i class="fa fa-angle-double-down"></i></div>
										<form method="POST" id="basic_prop_2d">
											<div class="checkbox">
											  <label><input type="checkbox" ><span>Maximum stiffnes<img src='./img/MaxStiffnes.png' alt='Maximum stiffnes' width='30px'></span></label>
											</div>
											<div class="checkbox">
											  <label><input type="checkbox"><span>Maximum bulk modulus<img src='img/MaxBulkMod.png' alt='Maximum bulk modulus' width='30px'></span></label>
											</div>
											<div class="checkbox">
											  <label><input type="checkbox"><span>Maximum shear modulus<img src='img/MaxShearMod.png' alt='Maximum shear modulus' width='30px'></span></label>
											</div>
											<div class="checkbox">
											  <label><input type="checkbox"><span>Negative Position&rsquo;s ratio<img src='img/NegativePossRatio.png' alt='Negative Position&rsquo;s ratio' width='30px'></span></label>
												<div class='info2d'>
													<img src='img/npr1.gif' alt='' width='100%'>
													<p>
													When this material is compressed in one direction it converges it the perpendicular direction.
													<br>When tension is applied in one direction it expends the perpendicular direction

													</p>
												</div>								
											</div>
											<div class="checkbox">
											  <label><input type="checkbox"><span>Zero Position&rsquo;s ratio<img src='img/ZeroPossRatio.png' alt='Zero Position&rsquo;s ratio' width='30px'></span></label>
											</div>
											<div class="checkbox">
											  <label><input type="checkbox"><span>Zero thermal expantion<img src='img/ZeroThermalExplantion.png' alt='Zero thermal expantion' width='30px'></span></label>
											</div>
											<div class="checkbox">
											  <label><input type="checkbox"><span>Negative thermal expantion<img src='img/NegativeThermalExp.png' alt='Negative thermal expantion' width='30px'></span></label>
												<div class='info2d'>
													<img src='img/NTE_NEW.gif' alt='' width='100%'>
													<p>This material shrinks when it is heated and it expands when it is cooled down
													</p>
												</div>
											</div>
											<div class="checkbox">
											  <label><input type="checkbox"><span>Incompressible<img src='img/Incompressible.png' alt='Incompressible' width='30px'></span></label>
											</div>											
											<button class='btn pull-right btn-default blue_button' type="button" id='basic_prop_btn'>Submit</button>
										</form>
										
										<form method="POST" id="basic_prop_3d">
											<div class="checkbox">
											  <label><input type="checkbox"><span>Maximum bulk modulus<img src='img/3dMaxBulkMod.PNG' alt='Maximum bulk modulus' width='30px'></span></label>
											</div>
											<div class="checkbox">
											  <label><input type="checkbox"><span>Maximum shear modulus<img src='img/3dMaxShearMod.PNG' alt='Maximum shear modulus' width='30px'></span></label>
											</div>
									<div class="checkbox">
											  <label><input type="checkbox"><span>Zero Position&rsquo;s ratio<img src='img/3dZeroPosRatio.PNG' alt='Zero Position&rsquo;s ratio' width='30px'></span></label>
											</div>
									<div class="checkbox">
											  <label><input type="checkbox"><span>Negative Position&rsquo;s ratio<img src='img/3dNegativePosRatio.PNG' alt='Negative Position&rsquo;s ratio' width='30px'></span></label>
											</div>
									<div class="checkbox">
											  <label><input type="checkbox"><span>Height stiffnes<img src='img/3dHightStiffnes.PNG' alt='Height stiffnes' width='30px'></span></label>
											</div>	
											<!-- ***************** Added by Taras -->
									<hr/>		
									<div class="checkbox">
											  <label><input type="checkbox" id="el_unitCell"><span>unitCell.stl<img src='img/3dunitCell.png' alt='Height stiffnes' width='30px'></span></label>
											</div>
									<div class="checkbox">
											  <label><input type="checkbox" id="el_simple2a"><span>simple2a.stl<img src='img/simple2a.png' alt='Height stiffnes' width='30px'></span></label>
											</div>
									<div class="checkbox">
											  <label><input type="checkbox" id="el_simple1a"><span>simple1a.stl<img src='img/simple1a.png' alt='Height stiffnes' width='30px'></span></label>
											</div>
									<div class="checkbox">
											  <label><input type="checkbox" id="el_simple3a"><span>simple3a.stl<img src='img/simple3a.png' alt='Height stiffnes' width='30px'></span></label>
											</div>
									<div class="checkbox">
											  <label><input type="checkbox" id="el_module"><span>module.stl<img src='img/module.png' alt='Height stiffnes' width='30px'></span></label>
											</div>
											<!-- ***************** end added by Taras -->									
											<button class='btn pull-right btn-default blue_button' type="button" id='basic_prop_btn_3d'>Submit</button>
											
										</form>	
										
											<div class='hover_2d text-justify'>
											
											</div>
									</div>
								</div>				
						</div>
						<div class='col-md-6 select_block'>
								<div class='box'>
									<div class='box-title text-center close_open2'>
										Advanced properties 2d
										<input type="checkbox" class="checkbox_my" id="checkbox_3d_Advanced" />
										<label for="checkbox_3d_Advanced">3d</label>
									</div>
									<div class='box-content advansedLatProp'>
										<div class='col-md-12 text-center close_open'><i class="fa fa-angle-double-down"></i></div>
											<div class='col-md-12 ad_prop_2d'>
													<div class='row text-center'>
														<img src='img/advancedProp2d.PNG'>
													</div>
													<div class="row">
														<div class="row"> 
															<div class="col-md-4">
																Number of materials
															</div>
															<div class="col-md-2 biger_padding">
																<select class="form-control input_text" id="numOfM2">
																	<option value='1'>1</option>
																	<option value='2'>2</option>
																</select>	
															</div>
															<div class="col-md-3">
																<select class="form-control input_text selectMaterial2d">
																</select>
															</div>	
															<div class="col-md-3 onlyFor2M">
																<select class="form-control input_text selectMaterial2d">
																</select>
															</div>															
														</div>
														<div class='row'>
															<div class='col-md-4'>
																Volume Fraction
															</div>
															<div class='col-md-2'>
															</div>										
															<div class='col-md-2 biger_padding'>
																<input type="TEXT" class="form-control input_text" id="m_valFrac2d">
																<div class="warning">Wrong volume fraction is used!</div>
					
															</div>
															<div class='col-md-1'>
															</div>
															<div class='col-md-2 onlyFor2M biger_padding'>
																<input type="TEXT" class="form-control input_text" id="m_valFrac2d2">
																<div class="warning2">Wrong volume fraction is used!</div>
															</div>								
														</div>
													</div>
													<div class='row' style="margin-top: 30px">
														<div class='col-md-3 m_bold'>
															Objective
														</div>
														<div class='col-md-4' style='margin-top: 10px'>
															Min
																<input type="checkbox" class="checkbox_my" id="maximize2d" />
																<label for="maximize2d" style='font-weight: normal'>Max</label>														
														</div>	
														<div class='col-md-3'>
																		<select class="form-control input_text" id="select2d1">
																			<option value='1'>User defined</option>
																			<option>Bulk modulus</option>
																			<option>Shear modulus</option>
																			<option>Poisson ratio</option>
																			<option>Thermal expansion</option>
																		 </select>
														</div>				 
														<div class='col-md-2'>
															<input type="TEXT" class="form-control input_text" id="uaerDef2d">
														</div>																		 
													</div>
													<div class='row'>
														<div class='col-md-3 m_bold'>
															Constraints
														</div>
														<div class='col-md-9'>
															<div class="checkbox">
																<label><input type="checkbox">Isotropy</label>
															</div>
															<div class="checkbox">
																<label><input type="checkbox">Square Symmetry</label>
															</div>														
														</div>														
													</div>	
													<div class='row clonefield'>
														<div class='cloneIt'>
															<div class='col-md-3'>
																			<select class="form-control input_text select2d2">
																				<option value='1'>User defined</option>
																				<option>Bulk modulus</option>
																				<option>Shear modulus</option>
																				<option>Poisson ratio</option>
																				<option>Thermal expansion</option>
																			 </select>
															</div>				 
															<div class='col-md-2'>
																<input type="TEXT" class="form-control input_text uaerDef2d2">
															</div>
															<div class='col-md-2'>
																	<select class="form-control input_text">
																	<option value='1'>=</option>
																	<option value='2'>&lt;=</option>
																	<option value='-'>&gt;=</option>
																</select>
															</div>	
															<div class='col-md-3'>
																			<select class="form-control input_text select2d2">
																				<option value='1'>User defined</option>
																				<option>Bulk modulus</option>
																				<option>Shear modulus</option>
																				<option>Poisson ratio</option>
																				<option>Thermal expansion</option>
																			 </select>
															</div>				 
															<div class='col-md-2'>
																<input type="TEXT" class="form-control input_text uaerDef2d2">
															</div>
														</div>	
													</div>													
													<div class='row'>
														<button class="cloneButton">+</button>
													</div>
											</div>
											
											<div class='col-md-12 ad_prop_3d'>
											  
													<div class='row text-center'>
														<img src='img/advancedProp3d.PNG'>
													</div>							 
												<div class="row">
														<div class="row"> 
															<div class="col-md-4">
																Number of materials
															</div>
															<div class="col-md-2 biger_padding">
																<select class="form-control input_text" id="numOfM3">
																	<option value='1'>1</option>
																	<option value='2'>2</option>
																</select>	
															</div>
															<div class="col-md-3">
																<select class="form-control input_text selectMaterial2d">
																</select>
															</div>	
															<div class="col-md-3 onlyFor3M">
																<select class="form-control input_text selectMaterial2d">
																</select>
															</div>															
														</div>
														<div class='row'>
															<div class='col-md-4'>
																Volume Fraction
															</div>
															<div class='col-md-2'>
															</div>
															<div class='col-md-2 biger_padding'>
																<input type="TEXT" class="form-control input_text" id="m_valFrac3d">
																<div class="warning3">Wrong volume fraction is used!</div>
															</div>
															<div class='col-md-1'>
															</div>
															<div class='col-md-2 onlyFor3M biger_padding'>
																<input type="TEXT" class="form-control input_text" id="m_valFrac3d2">
																<div class="warning32">Wrong volume fraction is used!</div>
															</div>								
														</div>
													</div>
													<div class='row' style="margin-top: 30px">
														<div class='col-md-3 m_bold'>
															Objective
														</div>
														<div class='col-md-4' style="margin-top: 10px">
															Min
																<input type="checkbox" class="checkbox_my" id="maximize3d" />
																<label for="maximize3d" style='font-weight: normal'>Max</label>														
														</div>	
														<div class='col-md-3'>
																		<select class="form-control input_text" id="select3d1">
																			<option value='1'>User defined</option>
																			<option>Bulk modulus</option>
																			<option>Shear modulus</option>
																			<option>Poisson ratio</option>
																			<option>Thermal expansion</option>
																		 </select>
														</div>				 
														<div class='col-md-2'>
															<input type="TEXT" class="form-control input_text" id="uaerDef3d">
														</div>																		 
													</div>
													<div class='row'>
														<div class='col-md-3 m_bold'>
															Constraints
														</div>
														<div class='col-md-9'>
															<div class="checkbox">
																<label><input type="checkbox">Isotropy</label>
															</div>
															<div class="checkbox">
																<label><input type="checkbox">Cubic Symmetry</label>
															</div>														
														</div>														
													</div>	
													<div class='row clonefield3d'>
														<div class='cloneIt3d'>
															<div class='col-md-3'>
																			<select class="form-control input_text select2d2">
																				<option value='1'>User defined</option>
																				<option>Bulk modulus</option>
																				<option>Shear modulus</option>
																				<option>Poisson ratio</option>
																				<option>Thermal expansion</option>
																			 </select>
															</div>				 
															<div class='col-md-2'>
																<input type="TEXT" class="form-control input_text uaerDef2d2">
															</div>
															<div class='col-md-2'>
																	<select class="form-control input_text">
																	<option value='1'>=</option>
																	<option value='2'>&lt;=</option>
																	<option value='-'>&gt;=</option>
																</select>
															</div>	
															<div class='col-md-3'>
																			<select class="form-control input_text select3d2">
																				<option value='1'>User defined</option>
																				<option>Bulk modulus</option>
																				<option>Shear modulus</option>
																				<option>Poisson ratio</option>
																				<option>Thermal expansion</option>
																			 </select>
															</div>				 
															<div class='col-md-2'>
																<input type="TEXT" class="form-control input_text uaerDef3d2">
															</div>
														</div>	
													</div>													
													<div class='row'>
														<button class="cloneButton3d">+</button>
													</div>																			
											</div>											
										<ul>
										</ul>
										<button class='btn pull-right btn-default blue_button' type="button" id='advanced_prop_btn'>Select</button>
										<button class='btn pull-right btn-default blue_button' type="button" id='design_btn'>Design</button>
									</div>
								</div>	
								<div class='video_img_block'>
										<video poster='img/2mat_0.175black_0.175gray_unit_new.jpg' width='100%' id='video1' controls>
											<source src='img/video1.avi'>
											<source src='img/video1.mp4'>
											<source src='img/video1.ogg'>
										</video>
										<label>Enter the name<input type="TEXT" class="form-control input_text" id="customName" placeholder='Custom'></label><br>
										<button class='btn pull-right btn-default blue_button' type="button" id='play_video'>Select</button>	
								</div>
								<div class='video_ended_block'>
									Your lattice have been done!
									<button class='btn pull-right btn-default blue_button' type="button" id='close'>Close</button>
								</div>
						</div>						
				</div>
					
				<script type="text/javascript" src='./js/main.js'></script>	
				<script type="text/javascript" src='./js/metals.js'></script>				