
<br />
<b>This part will be uploading user file to server.</b>
<br />
2. Then server will generate ready stl file from it
<br />
3. And that file with a preview will be avaliable for download
<br />
<br />
 
<!-- generate and load stl file from 
http://194.44.121.46:82/3d_editor/scad/win_two_stl_files_intersaction.php
?l_s_x=58&l_s_y=58&l_s_z=58&u_s_x=100&u_s_y=100&u_s_z=100&l_scale=0.25&user_file=torus.stl&lattice=module.stl&preview

-->
<div id="#generate_script_result_container"></div>

<script>
//TODO: get parameters for script
user_file_path = "";
lattice_file_path = "";
latices_count = ""; //now is not changeble. Is hardcoded in 3d_editor.scad program

//TODO: get from js the size params of lattice and user_model  

//$('#generate_script_result_container').load('http://194.44.121.46:82/3d_editor/scad/win_two_stl_files_intersaction.php');

//TODO: make download stl link after it was generated and notify that link will be send to user mail
// get mail from user.  
			
</script>
<br /> 
To receive link to the resulting stl file
<br />
<label>Enter your mail here: </label><input type='text' name='user_mail' id='user_mail' />
<br />
<br />
<a id="resulting_stl" href=""> this will be a link to resulting stl</a>
<br />
<img id="resulting_preview" src="" alt="here will be preview" width="300" height="200" />
<label for="generate_stl">This button will run an resulting stl generation</label>
<input id="generate_stl" type="button" caption="Generate STL result"></input>
<img src="img/sl.png" width="100%"/>