body {
    color: #000;
    font-family:Monospace;
    font-size:13px;
    text-align:center;
    font-weight: bold;

    background-color: #fff;
    margin: 0px;
    overflow: hidden;
}

#stats {
    bottom: 0 !important;
    top: auto !important;
}

#info {
    color:#000;
    position: absolute;
    top: 10px; width: 100%;
    padding: 5px;

}

#progress {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

button {
    float: left;
    margin-left: 50px;
}

form {
    float: right;
    margin-right: 50px;
}

a {
    color: red;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.modal-content {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    border-radius: 5px;
    color: #fff;
}

.button-modal {
    display: none;
}

.modal-content button {
    position: absolute;
    top: 27%;
    right: 10px;
    border: none;
    font-size: 3vw;
    background-color: #fff;
}

.modal-opened {
    opacity: 1;
    visibility: visible;
}

.description {
    height: 25%;
}

#plan {
    width: auto;
    height: 75%;
}

#plan img {
    width: 100%;
    height: 100%;
}